{% block content %}
<div class="dropdown open" >
  <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #8d2d66">
    Выберите город
  </button>
  <p></p>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Берлин</a>
    <a class="dropdown-item" href="#">Санкт-Петербург</a>
    <a class="dropdown-item" href="#">Токио</a>
  </div>
</div>
{% endblock %}
      